body {
  background-color: rgba(22, 133, 7, 0.281);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.App li {
  padding: 0.5rem;
  list-style-type: none;
}

.App input {
  margin: 0.5rem;
  border-color: rgb(102, 2, 2);
}

.Button-Error {
  background-color: rgb(202, 6, 6);
  color: #fff;
  border-color: rgb(202, 6, 6);
  border-radius: 10px;
}

.Button-Agregar {
  background-color: rgb(1, 143, 1);
  color: #fff;
  border-color: rgb(1, 143, 1);
  border-radius: 5px;
}

.container {
  background-color: rgba(255, 255, 255, 0.87);

  width: 350px;
}
